body {
    margin: 0%;
    padding: 0%;
}

/* Estilos para el encabezado */
header {
    background-color: #8595f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 100px;
    width: auto;
    margin-left: 180%;

}

nav {
    margin-right: 25%;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    position: relative;

}

.menu a {
    text-decoration: none;
    color: #f8f2f2;
    padding: 10px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: large;

}

.submenu-items {
    display: none;
    position: absolute;
    background-color: #4c42da;
    padding: 20px;
    margin: 10px;
    list-style: none;
    width: 200px;
    height: auto;
}

.submenu:hover .submenu-items {
    display: list-item;
}

nav a:hover {
    color: rgb(31, 8, 236);
}

.cuerpo img {
    height: 50%;
    width: 50%;
    border-radius: 40%;
    margin: 15px;
    border: 3px solid rgb(250, 208, 208);
}

.cuerpo {
    background-color: #c7cce7;
    display: flex;
    align-items: center;
}

/*formulario*/
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c7cce7;
    border: #8595f0 solid 3px;
    border-radius: 18px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Libre Baskerville', serif;
    color: #4c42da;

}



.texto1 h1 {
    text-align: center;
    color: rgb(21, 61, 241);
    flex: 1;
    background-color: #d5d9f3;
    margin: 0%;
    padding: 0%;
    font-family: 'Libre Baskerville', serif;
}

@media(max-width:767px) {
    header {
        background-color: rgb(145, 128, 240);
    }
}

@media (max-width: 767px) {
    nav {
        font-size: 16px;
    }
}

/* @media (min-width: 1200px) {
    header{
        width: 1200px;
    }
}   */
/* Estilo para el pie de página */
footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
}

footer p {
    font-size: 14px;
}

.social-media {
    text-align: center;
    margin-top: 20%;
}


.social-links {
    margin-top: 0;
}

.social-links a {
    color: rgb(182, 181, 235);
    /*ajusta el color de los iconos*/
    font-size: 50px;
    /*ajusta el tamaño de los iconos*/
    margin: 0 10px;
    /*ajusta el espaciado entre los iconos*/
    padding-left: 3%;
}

footer {
    background-color: #4c42da;
    ;
    padding: 1px;
    text-align: center;
    font-weight: bold;
}

/*pagina de productos*/
.seguro-casa {
    background-color: #8595f0;
}

.column h3 {
    text-align: start;
    font-family: 'Libre Baskerville', serif;
    margin-left: 5%;
    font-size: 20px;
    color: #2230f1;
}
.product-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px;
  }
  
  .product-gallery figure {
    flex-basis: calc(25% - 15px);
    margin-bottom: 20px;
  }
  
  .product-gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: #2230f1 solid 3px;
    border-radius: 140px;s
  }
  
  .product-gallery figcaption {
    margin-top: 5px;
    text-align: center;
    color: #304ef7;
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;

  }
  .product-gallery figcaption:hover{
    transform: scale(1.1);
  }
  .product-gallery figure:hover img{
    
    transform: rotateY(180deg);
    /* transform: scale(1.1); */
  }
  
  @media screen and (max-width: 768px) {
    .product-gallery figure {
      flex-basis: calc(33.33% - 10px);
    }
  }
  
  @media screen and (max-width: 576px) {
    .product-gallery figure {
      flex-basis: calc(50% - 10px);
    }
  }
  
